.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.aaas:hover {
  background-color: var(--bs-primary);
}

.pensa:hover {
  background-color: var(--bs-primary);
}

.sasa:hover {
  background-color: var(--bs-primary);
}

.RW:hover {
  background-color: var(--bs-primary);
}

.ueue:hover {
  background-color: var(--bs-primary);
}

.maxis:hover {
  background-color: var(--bs-primary);
}

.uiuewa:hover {
  background-color: var(--bs-primary);
}

.sdaok:hover {
  background-color: var(--bs-primary);
}

.sasdd:hover {
  background-color: var(--bs-primary);
}

.fress:hover {
  background-color: var(--bs-primary);
}

.fresita:hover {
  background-color: var(--bs-primary);
}

.frson:hover {
  background-color: var(--bs-primary);
}

#carousel-1:hover {
  transform: scale(1.05);
}

#carousel-1 {
  transition: transform 0.8s ease;
}

